b,
strong {
  font-weight: bold;
}

/************
    TITRES
*************/
.main-title {
  font-size: $font-size-xl;
  font-family: $font-title;
}

.second-title {
  font-size: $font-size-lg;
  font-family: $font-title;
}

/************
    TEXTES
*************/
